<h1>id: <%= @task.id %>の詳細ページ</h1>

<table class="table table-bordered ">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'このタスクを編集する', edit_task_path(@task), class: 'mt-1 btn btn-light' %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか?'}, class: 'mt-1 btn btn-danger' %>
<br><%= link_to '一覧に戻る', tasks_path, class: 'mt-1 btn btn-light' %>